/public/sass/vendors/corpus
# IntelliJ project files
.idea

.protect

google*.html
yandex_*.html
robots.txt
Catalog_alpha-hydro_2013-10-16.pdf
db-backup.sql
/documentation
/Zend
_utils

_db
tests
appadmin/config/db.xml
application/configs/db.ini

### SVN template
.svn/

### Sass template
.sass-cache
*.css.map

# frontend
frontend/files
frontend/images
frontend/fonts

# public
public/images
public/fonts
public/files
public/upload
public/D

/data/media-index
/data/my-index
/old