# IntelliJ project files
.idea
.ssh
.protect

google*.html
yandex_*.html
robots.txt
Catalog_alpha-hydro_2013-10-16.pdf
db-backup.sql
/documentation
/Zend
_utils

_db
# tests
db.xml
db.ini

### SVN template
.svn/

### Sass template
.sass-cache
*.css.map

# frontend
frontend/files
frontend/images
frontend/fonts

# public
public/images
public/fonts
public/files
public/upload
public/D
public/tmp

/data/media-index
/data/my-index
/old
/upload

#UglifyJS
*.min.min.js
*.min.min.css

#checkout
/scripts/*.js
/scripts/nicEdit
/scripts/fancybox
/scripts/datepicker
/js

*.php.bak
~*
appadmin/modules/default/models/
appadmin/modules/default/views/filters/
application/modules/Pdf/
application/modules/admin/views/filters/
application/modules/api/models/
application/modules/api/views/filters/
application/modules/api/views/helpers/
application/modules/catalog/views/filters/
application/modules/default/views/filters/
application/modules/forum/views/filters/
application/modules/forum/views/helpers/
application/modules/manufacture/views/filters/
application/modules/media/views/filters/
application/modules/media/views/helpers/
application/modules/oil/views/filters/
application/modules/oil/views/helpers/
application/modules/pages/views/filters/
application/modules/pipeline/views/filters/
application/modules/search/views/filters/
application/modules/search/views/helpers/
application/modules/utils/views/filters/
files/pdf/book/
library/tcpdf/fonts/arial/
library/tcpdf/fonts/times/
new/
public/sass/themes/
tests/_output/*
/vendor/

tests/_output/*