@import "main_menu";
.header{
  padding-top: 18px;
  .contacts{

    .adress{
      margin-top: 10px;
    }
    .worktime{
      margin-top: 15px;
      padding-top: 15px;
      background: image-url('workdays-bar.jpg', false, false) no-repeat;
    }
    .phone{
      .tel{
        font-size: 170%;
      }
    }
    .mail{
      .fa-envelope{
        &::before{
          color: $alpha-blue;
        }
      }
    }
  }
}
.logo{
  display: block;
  min-width: 244px;
  height: 48px;
  &.svg{
    background: image-url('logo/alpha-hydro-logo-ru.svg', false, false) no-repeat;
    background-size: 244px 48px;
    &.admin{
      background:{
        size: 150px 29px;
        position: 0 8px;
      }
    }
  }
  &.png{
    background: image-url('logo/alfa-hydro.png', false, false) no-repeat;
  }
}