@import "main_menu";
.header{
  padding-top: 18px;
  .contacts{

    .adress{
      margin-top: 10px;
    }
    .worktime{
      margin-top: 15px;
      padding-top: 15px;
      background: image_url('workdays-bar.jpg') no-repeat;
    }
    .phone{
      .tel{
        font-size: 170%;
      }
    }
    .mail{
      font-size: 80%;
    }
  }
}
.logo{
  display: block;
  min-width: 244px;
  height: 48px;
  &.svg{
    background: image_url('logo/alpha-hydro-logo-ru.svg') no-repeat;
    background-size: 244px 48px;
  }
  &.png{
    background: image_url('logo/alfa-hydro.png') no-repeat;
  }
}