.main-menu{
  .search-form{
    padding-right: 10px;
    form{
      input[type='text']{
        border: 1px solid $alpha-gray;
        @include box-shadow(inset $alpha-gray-light 0px 0px 8px);
        color: $alpha-gray-dark;
        font-size: $alpha-font-size-small;
        margin-top: 8px;
      }
      input[type='submit']{
        height: 38px;
        border: medium none;
        padding-bottom: 3px;
        background: sprite($main-menu, menu-bg-seach);
        color: #fff;
      }
      .search-autocomplete{
        left: 0;
        right: auto;
        top: 30px;
        >li{
          >a{
            border-bottom: 1px dotted $alpha-gray-light;
            &:hover{
              background-color: $alpha-gray;
            }
          }
          &:last-child{
            >a{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}