html{
  overflow-y: scroll;
}
a,
button,
[type='button'],
[type='submit']{
  outline: medium none !important;
}
.main{
  margin-bottom: 40px;
}
.header .container .row{
  //@include red-box();
}

.ok{
  background-color: transparent;
}
.no{
  background-color: $alpha-orange;
  color: white;
}

.text-size-small{
  font-size: $alpha-font-size-small;
}
.text-size-large{
  font-size: $alpha-font-size-large;
}
