.form-ask{
  position: relative;
  background-color: $alpha-gray-lighter;
  padding: 20px;
  margin-bottom: 20px;
  h3{
    margin:{
      top: 0;
      bottom: 0;
    }
    padding: 0;
    font:{
      size: 13pt;
      weight: bolder;
    }
  }
  .form-inline{
    margin:{
      bottom: 20px;
      top: 20px;
    }
  }
  .form-group{
    margin-right: 10px;
    label{
      margin-right: 5px;
    }
    input[type='text'],
    select,
    textarea{
      @extend .field-form;
    }
  }
  .help-block{
    font-size: $alpha-font-size-small;
  }
  .forum-send{
    position: absolute;
    right: -32px;
    top: 20px;
    @extend .send-form-right;
  }
  .captcha{
    line-height: 3em;
    text-align: center;
    width: 150px;
    font-size: 1.1em;
  }
}
.topic{
  margin-bottom: 35px;
  .topic-question,
  .topic-reply{
    position: relative;
    border: 1px solid $alpha-gray-light;
    padding: {
      top: 10px;
      bottom: 20px;
      right: 20px;
      left: 110px;
    };
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 30px;
      width: 100px;
      top: 10px;
      left: -17px;
      background: $info-block no-repeat;
    }
    .topic-title{
      border-bottom: 1px dotted $alpha-gray-light;
    }
    .topic-content{
      margin: {
        top: 10px;
      };
    }
  }
  .topic-question{
    @include gradient-vertical(lighten($alpha-gray-lighter, 10%), $alpha-gray-lighter);
    &:before{
      background-position: sprite-position($info-block, issue);
    }
  }
  .topic-reply{
    border-top: none;
    margin-left: 30px;
    &:before{
      background-position: sprite-position($info-block, reply);
    }
  }
}