.sections{
  margin: {
    top: 70px;
    bottom: 40px;
  };
}
.section{
  position: relative;
  .caption{
    bottom: 30px;
    position: absolute;
    width: 100%;
    font-size: $font-size-base;
    color: $alpha-gray-dark;
    &::before{
      content: '\25a0';
      margin-right: 10px;
      vertical-align: 0.1em;
    }
  }
}
.home-i-block{
  height: 260px;
  margin: {
    left: 5%;
    right: 5%;
  };
  padding: {
    left: 16px;
    right: 16px;
  };
  &.gradient, .gradient{
    @include gradient-vertical(lighten($alpha-gray-lighter, 10%), $alpha-gray-lighter);
  }
  &.gradient-darken, .gradient-darken{
    @include gradient-vertical(lighten($alpha-gray, 30%), $alpha-gray);
  }
  &.forum-issue{
    max-height: 150px;
  }
  &.forum-reply{
    max-height: 110px;
  }
  .block-head{
    @include clearfix;
    padding: {
      top: 16px;
    };
    margin-bottom: 15px;

    h2{
      display: inline-block;
      font: {
        family: Impact;
        size: 22pt;
        weight: normal;
      };
      color: $alpha-gray-darker;
      padding: {
        right: 5px;
        left: 5px;
      };
      margin: 0;

      &.inverse{
        color: #FFF;
        @include text-shadow(0 0 5px $alpha-gray);
      }
    }
    .btn-alpha{
      margin-top: 9px;
    }
  }
  .block-body{
    .media{
      .media-object{
        max-width: 90px;
      }
    }
  }
}
