.manufacture-categories{
  margin-top: 30px;
}
.manufacture-item{
  > img{
    height: 185px;
  }
  .manufacture-title{
    min-height: 2.2em;
    font-weight: 600;
  }
  .manufacture-description{
    height: 60px;
  }
}