//noinspection ALL
@mixin red-box($all-children: false){
  @if $all-children {
    &, div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
  @else{
    >div {
      @include box-shadow(#f00 0 0 1px inset);
    }
  }
}

@mixin btn-alpha-color($background-color:#000, $color:#fff){
  background-color: $background-color;
  color: $color;
  margin:{
    right: 6px;
    left: 6px;
  }
  padding: {
    right: 8px;
    left: 8px;
  };
  &::before{
    border-top: 10px solid transparent;
    border-right: 6px solid $background-color;
    border-bottom: 10px solid transparent;
    left: -6px;
  }
  &::after{
    border-top: 10px solid transparent;
    border-left: 6px solid $background-color;
    border-bottom: 10px solid transparent;
    right: -6px;
  }
}
