//noinspection CssInvalidFunction
$main-menu: sprite-map("main-menu/*.png", $position: 100%, $spacing: 5px, $repeat: repeat-x);

$btn-sprite: sprite-map("buttons/*.png", $position: 100%, $spacing: 5px, $repeat: repeat-x);

//noinspection SassScssResolvedByNameOnly
$alpha-font-size-small: ceil(($font-size-base * 0.75)); //~8pt, ~11px;
//noinspection SassScssResolvedByNameOnly
$alpha-font-size-large: ceil(($font-size-base * 1.6)); //~17pt, ~23px;

$alpha-gray-darker: #525252;
$alpha-gray-dark: #6A6A6A;
$alpha-gray: #ABABAB;
$alpha-gray-light: #CCCCCC;
$alpha-gray-lighter: #E2E2E2;

$alpha-orange: #F48123;
$alpha-blue: #0895D8;

$height-footer: 80px;
