.vertical-center{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.valign-wrapper{
  display: flex;
  align-items: center;
  .valign{
    display: block;
  }
}